<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <div class="sidenav">
    <a href="#dashboard">DashBoard</a>
    <a href="#dashboard">Flip Finder</a>
    <a href="#dashboard">Money Maker</a>
  </div>

  <div class="main">
    <h2>OSRS GE Tracker - Dashboard</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dignissim lorem ac neque blandit, vitae ornare massa viverra. 
        Fusce at mauris at nisi dictum eleifend a tincidunt sem. Pellentesque consectetur neque nunc, non ornare nibh pulvinar tincidunt. 
        Aenean erat enim, egestas a euismod vel, vulputate nec mauris. In ultrices nisl arcu, ac volutpat enim tincidunt et. Ut ultrices velit a tortor tristique,
        eget eleifend nulla aliquam. Nullam laoreet erat nec diam semper, in varius erat interdum. Duis ac libero vel quam faucibus volutpat. Curabitur nulla ligula,
        consequat sed euismod vulputate, faucibus a enim. Sed eget eleifend quam. Mauris nisl orci, efficitur ut fringilla varius, lobortis eget elit. Sed ante ipsum, 
        sollicitudin quis nulla efficitur, mollis bibendum ex. Donec sit amet scelerisque lorem. Sed dictum lorem quis facilisis porttitor. 
        Donec eleifend at purus a sagittis.</p>
<router-outlet></router-outlet>
